h1,
h2 {
  color: #2D4654;
  text-align: left;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

.author {
  color: #2D4654;
  text-align: left;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

body {
  background-color: #87BCDE;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 0.8em;
  font-optical-sizing: auto;
}

.main-header {
  /* background-color: #333;*/
  color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 10px 20px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.logo img {
  max-width: 350px; /* Измените на нужную вам ширину */
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  margin-left: 20px;
}

.main-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px; /* Добавим отступы для кнопок */
  border-radius: 5px; /* Добавим скругленные углы */
  background-color: #476b80; /* Цвет фона кнопок */
  transition: background-color 0.3s; /* Анимация при наведении */
}


.main-nav a:hover {
  color: lightgray;
}

main {
  margin: 0 auto;
  max-width: 80%;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(30% - 5px);
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.card-image {
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-text {
  flex-grow: 1;
}

.card-button {
  margin-top: auto;
}

.card-content h2 {
  margin-top: 0;
}

.card-content p {
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #a8c2d7;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #4c7494;
}
